ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    color: #F9FAF8;
}

.second {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 400px;
}

.placeholder {
    height: 200px;
    width: 300px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navy {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h3 {
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: center;
}

.box {
    border-color: white;
    border-style: solid;
    height: 100px;
    width: 100px;
}
