ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: row;
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
}

.second {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    justify-content: center;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.awesome,
.placeholder {
    height: 250px;
    align-items: center;
}

.placeholder {
    width: 500px;
}
.awesome {
    padding-right: 150px;
    padding-bottom: 60px;
    width: 400px;
}

.navy {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h3 {
    text-align: center;
    font-size: 36px;
}

.white {
    height: 600px;
}
.boxes {
    display: flex;
    justify-content: center;
}

.image {
    border-color: blue;
    border-style: solid;
    height: 180px;
    width: 180px;
    border-radius: 25px;
}

.box {
    height: 250px;
    width: 250px;
}

.secondary,
ul {
    font-size: 18px;
    color: #E5E7EB;
}

.secondary {
    margin-top: -15px;
}

button {
    background-color: #3882F6;
    padding: 10px 20px;
}