ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: row;
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
}

.second {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    justify-content: center;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.awesome,
.placeholder {
    height: 250px;
    align-items: center;
}

.placeholder {
    width: 500px;
}
.awesome {
    padding-right: 150px;
    padding-bottom: 60px;
    width: 400px;
}

.navy {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h3 {
    text-align: center;
    font-size: 36px;
}

.white,
.gray,
.blue {
    height: 600px;
}
.boxes {
    display: flex;
    justify-content: center;
}

.image {
    border-color: blue;
    border-style: solid;
    height: 180px;
    width: 180px;
    border-radius: 25px;
    margin-left: 25px;
    margin-bottom: 6px;
}

.box {
    height: 250px;
    width: 250px;
    text-align: center;
}

.secondary,
ul,
.sub-blue div {
    font-size: 18px;
    color: #E5E7EB;
}

.secondary {
    margin-top: -15px;
}

button {
    background-color: #3882F6;
    padding: 10px 28px;
    border-radius: 15px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    height: 90px;
    width: 750px;
    margin-top: 200px;
}

.Thor {
    width: 750px;
    height: 200px;
    font-size: 18px;
    margin-top: 100px;
    text-align: right;
}
.gray {
    background-color: #d3d7df;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub-blue {
    height: 125px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    padding: 75px 150px;
}

.call {
    font-weight: bold;
}
.blue {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-button {
    margin-left: auto;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.footer {
    height: 50px;
    justify-content: center;
    display: flex;
    background-color: gray;
    align-items: center;
}